<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Quiz.html</welcome-file>
	</welcome-file-list>
<!-- 
	<servlet>
		<servlet-name>remoteLoggingService</servlet-name>
		<servlet-class>com.google.gwt.gen2.logging.server.RemoteLoggingService
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteLoggingService</servlet-name>
		<url-pattern>/Quiz/logging</url-pattern>
	</servlet-mapping>
 -->
	<servlet>
		<servlet-name>remoteLoggingServiceImpl</servlet-name>
		<servlet-class>com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteLoggingServiceImpl</servlet-name>
		<url-pattern>/Quiz/logging</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>org.restlet.clients</param-name>
		<param-value>CLAP FILE WAR</param-value>
	</context-param>

	<servlet>
		<servlet-name>adapter</servlet-name>
		<servlet-class>org.restlet.ext.gwt.GwtShellServletWrapper
		</servlet-class>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>de.anhquan.quiz.server.ServerApp</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>adapter</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
